<form method="post" enctype='multipart/form-data' action='/submit'>
  <input type='email' name='email' placeholder='email'/>
  <input type='text' name='name' placeholder='name'/>
  <input type='text' name='cpf' placeholder='cpf'/>
  <input type='file' name='curriculum'/>
  <input type='submit' value='Upload!'/>
</form>

